.dynamic-detail .header {
	padding: 20px;
	background-color: var(--surface);
}

.dynamic-detail .header .title {
	font-size: 34px;
}

.dynamic-detail .header .link {
	font-size: 28px;
	color: #666;
}

.dynamic-detail .header .link .fa {
	margin-left: 4px;
}

.dynamic-detail .container {
	background-color: var(--surface);
	margin-top: 30px;
	padding: 20px;
}

.dynamic-detail .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.dynamic-detail .head .author {
	display: flex;
}

.dynamic-detail .head .avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 20px;
}

.dynamic-detail .head .title {
	font-size: 32px;
}

.dynamic-detail .head .sub-title {
	font-size: 24px;
	color: var(--on-surface-light);
}

.dynamic-detail .head .date {
	margin-left: 16px;
}

.dynamic-detail .head .follow {
	background-color: var(--primary);
	border: none;
	height: 60px;
	line-height: 60px;
	color: var(--on-primary);
	margin: 0;
	font-size: 28px;
	border-radius: 8px;
}

.dynamic-detail .head .follow .fa {
	margin-right: 8px;
}

.dynamic-detail .content {
	width: 100%;
	margin-top: 20px;
}

.dynamic-detail .content .more {
	text-align: center;
	font-size: 28px;
	color: #526998;
}

.dynamic-detail .content .more .fa {
	margin-left: 6px;
	color: #666;
}

.dynamic-detail .content .info-list {
	margin-top: 20px;
}

.dynamic-detail .content .info-list .item {
	font-size: 28px;
	line-height: 46px;
}

.dynamic-detail .content .info-list .item text {
	color: #666;
}

.dynamic-detail .content .info-list .item .middle {
	flex: 3;
	color: #333;
	margin-left: 20px;
}

.dynamic-detail .content .info-list .item .handle {
	float: right;
}

.dynamic-detail .content .info-list .item .handle .fa {
	margin-left: 30px;
}

.dynamic-detail .content .like-area {
	margin-top: 30px;
	text-align: center;
}

.dynamic-detail .content .like-area .info {
	font-size: 28px;
	color: #666;
}

.dynamic-detail .content .like-area button {
	border-radius: 50%;
	border: none;
	color: #fff;
	background-color: #eee;
	height: 100px;
	line-height: 100px;
	padding: 0;
	text-align: center;
	font-size: 50px;
	width: 100px;
	margin-top: 20px;
}

.dynamic-detail .content .like-area button::after {
	border: none;
}

.dynamic-detail .content .like-area .liked {
	background-color: #fc5b32;
}

.dynamic-detail .content .like-area .tip {
	margin-top: 20px;
	font-size: 24px;
	color: #666;
}

.dynamic-detail .content .like-list {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.dynamic-detail .content .like-list .item {
	margin: 0 -5px;
	position: relative;
}

.dynamic-detail .content .like-list .more {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	color: #eee;
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	text-align: center;
}

.dynamic-detail .content .like-list image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	border: 2px solid #fff;
}

.dynamic-detail .comments {
	background-color: #fff;
	margin-top: 30px;
	padding: 20px;
}

.dynamic-detail .comments .title {
	font-size: 32px;
}

.dynamic-detail .comments .handle {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dynamic-detail .comments .handle .avatar {
	width: 8%;
	border-radius: 50%;
}

.dynamic-detail .comments .handle .input {
	border-radius: 38px;
	background-color: #f8f8f8;
	color: #666;
	font-size: 24px;
	line-height: 60px;
	height: 60px;
	box-sizing: border-box;
	width: 90%;
	padding-left: 36px;
}

.dynamic-detail .comments .list .item {
	margin-top: 16px;
	display: flex;
}

.dynamic-detail .comments .list .avatar {
	width: 8%;
	border-radius: 50%;
	margin-top: 6px;
}

.dynamic-detail .comments .list .right {
	width: 92%;
	padding-left: 20px;
	box-sizing: border-box;
}

.dynamic-detail .comments .list .name {
	font-size: 26px;
}

.dynamic-detail .comments .list .date {
	font-size: 24px;
	color: #666;
}

.dynamic-detail .comments .list .info {
	font-size: 28px;
	margin-top: 16px;
	padding-bottom: 12px;
	border-bottom: 2px solid #eee;
}

.comments .no-data {
	margin-top: 20px;
	font-size: 28px;
	color: #666;
	text-align: center;
}

.comment {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
}

.comment .mask {
	height: 100%;
	width: 100%;
}

.comment .form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: #fff;
	position: absolute;
	top: 0;
	width: 100%;
	box-sizing: border-box;
}

.comment .form textarea {
	background-color: #f8f8f8;
	width: 73%;
	height: 150px;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 8px;
	font-size: 28px;
}

.comment .form button {
	width: 22%;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	height: 70px;
	line-height: 70px;
	border-radius: 8px;
	color: var(--on-primary);
	background-color: var(--primary);
}
