.login {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #25d2fd, #3e7dd2);
	position: absolute;
  overflow: hidden;
  text-align: center;
}

.logo {
	width: 92PX;
	height: 92PX;
	margin-top: 15%;
}

.formLogin {
  width: 70%;
  display: block;
  margin: 20px auto 0;
}

.formItem {
	width: 100%;
	margin-top: 20px;
}

.tip {
  width: 70%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.name {
  font-size: 24px;
  color: #fff;
  margin-left: 30px;
  margin-bottom: 5px;
  text-align: left;
}

.input {
	width: 100%;
	height: 80px;
  line-height: 80px;
  border-radius: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	background-color: #fff;
}

.button {
  margin: 40px 0 0 0;
  padding: 0;
  height: 80px;
  line-height: 80px;
  font-size: 32px;
  border: none;
  border-radius: 40px;
  color: #fff;
  background-color: #1a5c9d;
}
