.cover {
  width: 100%;
  max-height: 400px;
  display: block;
}

.header {
  background-color: var(--surface);
  padding: 20px;
  margin-top: -18px;
  position: relative;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.headerTitle {
  font-size: 36px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  display: block;
}

.basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.basicAuthor {
  display: flex;
}

.basicAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.basicTitle {
  font-size: 32px;
}

.basicSubtTitle {
  font-size: 24px;
  color: var(--on-surface-light);
}

.basicDate {
  margin-left: 16px;
}

.basicFollow {
  background-color: var(--primary);
  border: none;
  height: 60px;
  line-height: 60px;
  color: var(--on-primary);
  margin: 0;
  font-size: 28px;
  border-radius: 8px;
}

.basicFollowFa {
  margin-right: 8px;
}

.infolistItem {
  font-size: 28px;
  line-height: 46px;
}

.infolistItemText {
  color: var(--on-surface-light);
}

.infolistItemMiddle {
  flex: 3;
  color: var(--on-surface);
  margin-left: 20px;
}

.infolistItemHandle {
  float: right;
}

.infolistItemHandleFa {
  margin-left: 30px;
}

.content {
  background-color: var(--surface);
  margin-top: 30px;
  padding: 20px;
}

.contentTitle {
  font-size: 30px;
  color: var(--on-surface);
  border-bottom: 0px solid var(--on-surface-border);
  margin-bottom: 20px;
  padding-bottom: 10px;
}
