.team {
	width: 100%;
	height: 100%;
	// position: absolute;
	// overflow: hidden;
}

// .team scroll-view {
// 	height: 100%;
// }

.team .company {
	background-color: var(--surface);
	color: var(--on-surface);
	margin-bottom: 20px;
}

.team .company .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.team .company .name {
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: bold;
}

.team .company .slogan {
	color: var(--on-surface-light);
	font-size: 26px;
}

.team .company .logo {
	height: 100px;
	width: 100px;
	display: block;
	border-radius: 50%;
}

.team .company .info-list .item {
	font-size: 28px;
	padding: 20px;
	border-bottom: 1px solid var(--on-surface-border);
}

.team .company .info-list .middle {
	margin-left: 20px;
}

.team .company .info-list .arrow {
	float: right;
}

.team .list {
	padding-bottom: 40px;
}

.team .search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100%;
	z-index: 1;
	padding: 0 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: var(--surface);
	border-bottom: 2px solid var(--on-surface-border);
}

.team .search .left {
	display: flex;
	align-items: center;
}

.team .search .fa {
	color: var(--primary);
}

.team .search .input {
	border-radius: 10px;
	padding: 0 16px;
	height: 70px;
	line-height: 70px;
	border: 1px solid var(--on-surface-border);
	background-color: var(--background);
}

.team .search .button {
	margin: 0;
	font-size: 28px;
	height: 70px;
	line-height: 70px;
	border-radius: 10px;
	background-color: var(--primary);
	color: var(--on-primary);
}

.team .filter-fixed {
	top: 0;
	position: fixed;
}

.team .list .item {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-top: 2px;
	background-color: var(--surface);
}

.team .list .cover {
	width: 35%;
	height: 300px;
	display: block;
	border-radius: 12px;
}

.team .list .right {
	color: var(--on-surface);
	width: 62%;
	text-align: left;
}

.team .list .head {
  margin-bottom: 20px;
	overflow: hidden;
	white-space: nowrap;
}

.team .list .name {
	font-size: 32px;
}

.team .list .title {
  font-size: 24px;
  margin-left: 10px;
	color: var(--on-surface-light);
}

.team .list .button {
  border: none;
  color: var(--on-primary);
  background-color: var(--primary);
}

.team .list .info {
  margin-bottom: 20px;
	font-size: 24px;
}

.team .list .item .info text {
	margin-right: 6px;
}

.team .complete,
.team .no-data {
	font-size: 28px;
	text-align: center;
	margin-top: 40px;
}
